<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand mx-4"> Angular Easy CRUD </a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <h3 class="text-white mb-3">Employee List.</h3>
      <ul class="list-group">
        
        <li
          class="list-group-item list-group-item-action"
          *ngFor="let employee of employeeList"
          (click)="seledForEdit(employee)"
          [class.active]="employee === selectEmployee"
        >
        <span class="badge text-bg-primary">{{ employee.id }}</span>
        {{ employee.name }} - {{ employee.country }}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <form [formGroup]="form" action="submit">
            <div class="card-title"><h3>Insert a new Employee.</h3></div>
          <div class="form-group mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text"  formControlName="name" placeholder="Insert a name" class="form-control">
          </div>
           <div class="form-group mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text"  formControlName="country" placeholder="Insert a country" class="form-control">
          </div>
          <button (click)="addOrEdit()" [disabled]="form.invalid" class="btn btn-primary">Sumit</button>
          <button (click)="delete()" *ngIf="selectEmployee.id !== 0" class="btn btn-danger mx-2">Delete</button>  
        </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <img
        alt="Angular Logo"
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      />
    </div>
  </div>
</div>
